In [1]:
!pip install stellargraph

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: stellargraph in /usr/local/lib/python3.8/dist-packages (1.2.1)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.8/dist-packages (from stellargraph) (3.2.2)
Requirement already satisfied: tensorflow>=2.1.0 in /usr/local/lib/python3.8/dist-packages (from stellargraph) (2.9.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from stellargraph) (1.7.3)
Requirement already satisfied: networkx>=2.2 in /usr/local/lib/python3.8/dist-packages (from stellargraph) (2.3)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.8/dist-packages (from stellargraph) (1.3.5)
Requirement already satisfied: gensim>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from stellargraph) (3.6.0)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.8/dist-packages (from stellargraph) (1.21.6)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.8/dist-packages (from stellargraph) (1.0.2)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.8/dist-packages (from gensim>=3.4.0->stellargraph) (6.3.0)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.8/dist-packages (from gensim>=3.4.0->stellargraph) (1.15.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->stellargraph) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->stellargraph) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->stellargraph) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->stellargraph) (0.11.0)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.8/dist-packages (from networkx>=2.2->stellargraph) (4.4.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24->stellargraph) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20->stellargraph) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20->stellargraph) (1.2.0)
Requirement already satisfied: flatbuffers<2,>=1.12 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (1.12)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (3.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (1.6.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (3.3.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (1.3.0)
Requirement already satisfied: tensorboard<2.10,>=2.9 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (2.9.1)
Requirement already satisfied: keras<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (2.9.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (57.4.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (1.51.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (3.19.6)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (15.0.6.1)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (1.14.1)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (0.4.0)
Requirement already satisfied: tensorflow-estimator<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (2.9.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (4.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (0.2.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (1.1.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (21.3)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (2.2.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow>=2.1.0->stellargraph) (0.29.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow>=2.1.0->stellargraph) (0.38.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (1.0.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (2.16.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (3.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (2.25.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (5.2.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (6.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (2.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (3.11.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow>=2.1.0->stellargraph) (3.2.2)

In [2]:
!pip install networkx==2.3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: networkx==2.3 in /usr/local/lib/python3.8/dist-packages (2.3)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.8/dist-packages (from networkx==2.3) (4.4.2)

In [3]:
# importing all necessary libraries
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
import os
import networkx as nx
import stellargraph as sg
from stellargraph import StellarGraph
from sklearn import preprocessing, model_selection
from IPython.display import display, HTML
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
#from node2vec import Node2Vec as n2v
sns.set()

%matplotlib inline

In [4]:
df = pd.read_csv('Student-Employability-Dataset.csv')
df.head()
# Dataset is now stored in a Pandas Dataframe

,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating,CLASS
0,4,5,4,5,5,5,5,5,Employable
1,4,4,4,4,4,4,3,5,Employable
2,4,3,3,3,3,3,2,5,LessEmployable
3,3,3,3,2,3,3,3,5,LessEmployable
4,4,4,3,3,4,4,3,5,Employable

In [5]:
df.shape

(2982, 9)

In [6]:
df['CLASS'].value_counts()

Employable        1729
LessEmployable    1253
Name: CLASS, dtype: int64

In [7]:
z = {'Employable' : 1, 'LessEmployable' : 0}
df['CLASS'] = df['CLASS'].map(z)
df.head()

,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating,CLASS
0,4,5,4,5,5,5,5,5,1
1,4,4,4,4,4,4,3,5,1
2,4,3,3,3,3,3,2,5,0
3,3,3,3,2,3,3,3,5,0
4,4,4,3,3,4,4,3,5,1

In [8]:
#node_Class
node_Class = df["CLASS"]

In [9]:
u3=df.drop(['CLASS'], axis=1)
u3.head()

,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating
0,4,5,4,5,5,5,5,5
1,4,4,4,4,4,4,3,5
2,4,3,3,3,3,3,2,5
3,3,3,3,2,3,3,3,5
4,4,4,3,3,4,4,3,5

### Distance calculation for creating adjacency matrix

In [10]:
from scipy.spatial.distance import cdist
s = cdist(u3, u3, 'cosine')
s

array([[0.00000000e+00, 1.18196406e-02, 3.89451766e-02, ...,
        5.70574961e-03, 1.75078592e-02, 1.18196406e-02],
       [1.18196406e-02, 0.00000000e+00, 1.07846501e-02, ...,
        6.69736532e-03, 3.57110435e-03, 7.69230769e-03],
       [3.89451766e-02, 1.07846501e-02, 0.00000000e+00, ...,
        2.63323597e-02, 1.15390226e-02, 2.00296533e-02],
       ...,
       [5.70574961e-03, 6.69736532e-03, 2.63323597e-02, ...,
        0.00000000e+00, 1.50356688e-02, 6.69736532e-03],
       [1.75078592e-02, 3.57110435e-03, 1.15390226e-02, ...,
        1.50356688e-02, 1.11022302e-16, 1.14792702e-02],
       [1.18196406e-02, 7.69230769e-03, 2.00296533e-02, ...,
        6.69736532e-03, 1.14792702e-02, 0.00000000e+00]])

In [11]:
X1=pd.DataFrame(s)
X1

,0,1,2,3,4,5,6,7,8,9,...,2972,2973,2974,2975,2976,2977,2978,2979,2980,2981
0,0.000000,0.011820,0.038945,0.031784,0.015827,0.023852,0.023828,0.036119,0.005732,0.010824,...,0.055234,0.021551,0.015827,0.022710,0.031191,0.038945,0.005318,0.005706,1.750786e-02,0.011820
1,0.011820,0.000000,0.010785,0.018050,0.006520,0.010005,0.017776,0.017689,0.003403,0.011479,...,0.039031,0.008924,0.006520,0.006520,0.018689,0.010785,0.007692,0.006697,3.571104e-03,0.007692
2,0.038945,0.010785,0.000000,0.016536,0.011513,0.008478,0.038122,0.009505,0.018376,0.021043,...,0.021836,0.019694,0.011513,0.011513,0.018915,0.000000,0.029275,0.026332,1.153902e-02,0.020030
3,0.031784,0.018050,0.016536,0.000000,0.011438,0.010986,0.043910,0.031092,0.015332,0.020186,...,0.030511,0.023098,0.021630,0.021630,0.043591,0.016536,0.018050,0.030187,1.028900e-02,0.018050
4,0.015827,0.006520,0.011513,0.011438,0.000000,0.007125,0.027587,0.021789,0.008436,0.012128,...,0.034596,0.015815,0.008621,0.017241,0.025511,0.011513,0.014663,0.015583,3.756706e-03,0.014663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2977,0.038945,0.010785,0.000000,0.016536,0.011513,0.008478,0.038122,0.009505,0.018376,0.021043,...,0.021836,0.019694,0.011513,0.011513,0.018915,0.000000,0.029275,0.026332,1.153902e-02,0.020030
2978,0.005318,0.007692,0.029275,0.018050,0.014663,0.018689,0.026871,0.034339,0.003403,0.011479,...,0.048837,0.017695,0.014663,0.014663,0.036057,0.029275,0.000000,0.006697,1.147927e-02,0.007692
2979,0.005706,0.006697,0.026332,0.030187,0.015583,0.013821,0.017178,0.024151,0.004957,0.007793,...,0.039112,0.020072,0.008125,0.008125,0.021774,0.026332,0.006697,0.000000,1.503567e-02,0.006697
2980,0.017508,0.003571,0.011539,0.010289,0.003757,0.009008,0.018263,0.024357,0.006251,0.016260,...,0.042308,0.008163,0.012128,0.012128,0.026863,0.011539,0.011479,0.015036,1.110223e-16,0.011479
2981,0.011820,0.007692,0.020030,0.018050,0.014663,0.010005,0.017776,0.017689,0.003403,0.003571,...,0.029225,0.017695,0.006520,0.006520,0.018689,0.020030,0.007692,0.006697,1.147927e-02,0.000000

In [12]:
# taking average of the hamming distance matrix
y = np.average(X1)
y

0.01856620671593297

In [13]:
adjmat_df=X1.copy()

In [14]:
# setting threshold value as mean of hamming matrix
adjmat_df[adjmat_df < y]=0
adjmat_df[adjmat_df >= y]=1

In [15]:
# adjacency matrix
adjmat_df

,0,1,2,3,4,5,6,7,8,9,...,2972,2973,2974,2975,2976,2977,2978,2979,2980,2981
0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,...,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2977,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
2978,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2979,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2981,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [16]:
G = nx.from_numpy_matrix(np.array(adjmat_df))
G

In [17]:
A=nx.to_numpy_matrix(G)
##Creating graph from adjacency matrix
H=nx.from_numpy_matrix(A)

### Construct a graph using stellargraph

In [18]:
square_feature_dataframe = StellarGraph.from_networkx(H, node_features=adjmat_df)
print(square_feature_dataframe.info())

StellarGraph: Undirected multigraph
 Nodes: 2982, Edges: 1793526

 Node types:
  default: [2982]
    Features: float32 vector, length 2982
    Edge types: default-default->default

 Edge types:
    default-default->default: [1793526]
        Weights: all 1 (default)
        Features: none

In [19]:
from stellargraph.mapper import (
    CorruptedGenerator,
    FullBatchNodeGenerator,
    GraphSAGENodeGenerator,
    HinSAGENodeGenerator,
    ClusterNodeGenerator,
)
from stellargraph import StellarGraph
from stellargraph.layer import GCN, DeepGraphInfomax, GraphSAGE, GAT, APPNP, HinSAGE
from stellargraph.mapper import ClusterNodeGenerator
from stellargraph import datasets
from stellargraph.utils import plot_history

import pandas as pd
from matplotlib import pyplot as plt
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.manifold import TSNE
from IPython.display import display, HTML

from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
import tensorflow as tf
from tensorflow.keras import Model

### Node Generator

In [20]:
number_of_clusters = 10  # the number of clusters/subgraphs
clusters_per_batch = 2  # combine two cluster per batch
random_clusters = True  # Set to False if you want to use METIS for clustering

In [21]:
generator = ClusterNodeGenerator(square_feature_dataframe, clusters=number_of_clusters, q=clusters_per_batch, lam=0.1)

Number of clusters 10
0 cluster has size 298
1 cluster has size 298
2 cluster has size 298
3 cluster has size 298
4 cluster has size 298
5 cluster has size 298
6 cluster has size 298
7 cluster has size 298
8 cluster has size 298
9 cluster has size 300

In [22]:
cluster_gcn = GCN(
    layer_sizes=[32, 32], activations=["relu", "relu"], generator=generator, dropout=0.5
)

In [23]:
x_inp, x_out = cluster_gcn.in_out_tensors()

In [24]:
x_inp

[<KerasTensor: shape=(1, None, 2982) dtype=float32 (created by layer 'input_1')>,
 <KerasTensor: shape=(1, None) dtype=int32 (created by layer 'input_2')>,
 <KerasTensor: shape=(1, None, None) dtype=float32 (created by layer 'input_3')>]

In [25]:
x_out

In [26]:
all_nodes = list(square_feature_dataframe.nodes())
all_nodes

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [27]:
all_gen = generator.flow(all_nodes, name="all_gen")
all_gen

In [29]:
from tensorflow.keras import backend as K
from tensorflow.keras import layers, optimizers, losses, metrics, Model
x_out_flat = layers.Lambda(lambda x: K.squeeze(x, 0))(x_out)
x_out_flat
embedding_model = Model(inputs=x_inp, outputs=x_out_flat)

In [30]:
embedding_model = Model(inputs=x_inp, outputs=x_out_flat)
embedding_model

### Node Embeddings

In [31]:
emb = embedding_model.predict(all_gen, verbose=1)
emb.shape

5/5 [==============================] - 1s 121ms/step

(2982, 32)

In [32]:
emb

array([[0.8924582 , 0.        , 0.        , ..., 0.        , 0.27458277,
        0.        ],
       [1.1752179 , 0.        , 0.        , ..., 0.        , 0.21696302,
        0.        ],
       [1.185036  , 0.        , 0.        , ..., 0.        , 0.2162255 ,
        0.        ],
       ...,
       [1.1268325 , 0.        , 0.        , ..., 0.        , 0.21875134,
        0.        ],
       [1.1049886 , 0.        , 0.        , ..., 0.        , 0.22968936,
        0.        ],
       [1.038402  , 0.        , 0.        , ..., 0.        , 0.22725907,
        0.        ]], dtype=float32)

In [33]:
node_emb = pd.DataFrame(emb)

In [34]:
index=all_gen.node_order
index

[2051,
 2052,
 7,
 2055,
 2058,
 13,
 14,
 2062,
 17,
 2068,
 24,
 25,
 2074,
 34,
 2084,
 2085,
 38,
 45,
 47,
 50,
 56,
 61,
 62,
 63,
 66,
 2115,
 2119,
 2121,
 76,
 77,
 2125,
 2131,
 86,
 87,
 2137,
 2139,
 93,
 2142,
 95,
 2143,
 98,
 103,
 104,
 2152,
 2153,
 2154,
 2156,
 110,
 112,
 113,
 115,
 2166,
 121,
 2171,
 126,
 127,
 132,
 2185,
 2189,
 147,
 2199,
 2206,
 159,
 2209,
 162,
 163,
 169,
 170,
 2219,
 176,
 177,
 178,
 187,
 2239,
 2242,
 196,
 202,
 203,
 2252,
 205,
 2258,
 212,
 216,
 2265,
 2267,
 2270,
 223,
 225,
 227,
 228,
 2277,
 230,
 231,
 2279,
 2280,
 234,
 2281,
 236,
 237,
 2284,
 239,
 240,
 242,
 244,
 2293,
 250,
 252,
 2302,
 255,
 2309,
 268,
 2317,
 2318,
 274,
 276,
 277,
 278,
 285,
 286,
 2333,
 289,
 298,
 301,
 302,
 303,
 2352,
 306,
 2356,
 2358,
 2359,
 2365,
 318,
 2374,
 2375,
 332,
 338,
 2388,
 342,
 2391,
 345,
 348,
 2397,
 354,
 2403,
 359,
 2408,
 2411,
 2412,
 2417,
 2419,
 372,
 2424,
 380,
 381,
 2429,
 384,
 385,
 389,
 2439,
 392,
 2441,
 399,
 402,
 2450,
 405,
 2454,
 409,
 410,
 2465,
 2467,
 426,
 2475,
 428,
 430,
 431,
 2478,
 437,
 443,
 2491,
 448,
 2496,
 453,
 2501,
 455,
 456,
 2512,
 466,
 468,
 2518,
 471,
 2524,
 2526,
 2527,
 480,
 484,
 491,
 2539,
 2542,
 2546,
 2547,
 503,
 2552,
 505,
 2556,
 510,
 511,
 2560,
 514,
 517,
 518,
 2566,
 520,
 2571,
 2572,
 2573,
 2574,
 2578,
 531,
 536,
 538,
 2586,
 2588,
 547,
 551,
 2600,
 556,
 2607,
 560,
 2608,
 2615,
 570,
 571,
 574,
 575,
 2623,
 577,
 2624,
 580,
 581,
 2628,
 2632,
 2636,
 2638,
 591,
 592,
 2640,
 2649,
 2652,
 605,
 608,
 2659,
 612,
 2660,
 614,
 2661,
 2664,
 624,
 2673,
 2674,
 627,
 2676,
 630,
 631,
 634,
 2685,
 2689,
 2690,
 2694,
 648,
 2697,
 652,
 656,
 659,
 660,
 2712,
 666,
 667,
 2714,
 671,
 2720,
 2722,
 2724,
 2727,
 684,
 2733,
 2734,
 689,
 690,
 691,
 2740,
 695,
 2743,
 699,
 702,
 2753,
 711,
 712,
 713,
 2759,
 715,
 2760,
 717,
 2766,
 725,
 2775,
 731,
 732,
 2783,
 2784,
 737,
 743,
 2792,
 2793,
 749,
 2797,
 2801,
 755,
 761,
 2810,
 2816,
 2817,
 2820,
 2822,
 776,
 2826,
 781,
 782,
 784,
 789,
 792,
 2840,
 2841,
 2842,
 2845,
 798,
 800,
 2853,
 2856,
 2858,
 814,
 2863,
 2866,
 819,
 2874,
 2876,
 2878,
 834,
 2883,
 2884,
 838,
 2890,
 2894,
 847,
 852,
 2901,
 2902,
 2904,
 857,
 859,
 863,
 2913,
 2914,
 872,
 2921,
 875,
 2927,
 884,
 886,
 887,
 897,
 899,
 900,
 2949,
 902,
 903,
 2950,
 2951,
 2955,
 910,
 911,
 912,
 2959,
 2962,
 2967,
 920,
 2969,
 925,
 2974,
 928,
 2978,
 2980,
 939,
 946,
 948,
 955,
 971,
 977,
 978,
 981,
 990,
 1006,
 1008,
 1012,
 1014,
 1016,
 1021,
 1022,
 1029,
 1030,
 1033,
 1036,
 1037,
 1042,
 1044,
 1045,
 1047,
 1048,
 1053,
 1056,
 1068,
 1075,
 1090,
 1092,
 1096,
 1105,
 1108,
 1111,
 1114,
 1116,
 1120,
 1127,
 1128,
 1129,
 1135,
 1137,
 1140,
 1146,
 1150,
 1151,
 1161,
 1163,
 1177,
 1180,
 1184,
 1187,
 1189,
 1198,
 1209,
 1210,
 1212,
 1214,
 1219,
 1224,
 1226,
 1228,
 1232,
 1233,
 1247,
 1249,
 1253,
 1255,
 1256,
 1265,
 1269,
 1292,
 1296,
 1297,
 1302,
 1307,
 1311,
 1316,
 1320,
 1338,
 1344,
 1345,
 1358,
 1359,
 1361,
 1369,
 1373,
 1386,
 1388,
 1389,
 1390,
 1403,
 1409,
 1412,
 1428,
 1431,
 1435,
 1441,
 1452,
 1461,
 1467,
 1469,
 1470,
 1471,
 1484,
 1493,
 1499,
 1506,
 1507,
 1526,
 1533,
 1541,
 1557,
 1563,
 1568,
 1570,
 1576,
 1585,
 1590,
 1594,
 1595,
 1605,
 1606,
 1611,
 1621,
 1636,
 1637,
 1639,
 1650,
 1667,
 1668,
 1670,
 1673,
 1675,
 1678,
 1689,
 1697,
 1702,
 1709,
 1713,
 1714,
 1715,
 1721,
 1736,
 1738,
 1739,
 1741,
 1745,
 1752,
 1753,
 1762,
 1764,
 1765,
 1770,
 1771,
 1788,
 1789,
 1800,
 1801,
 1807,
 1808,
 1811,
 1816,
 1823,
 1826,
 1839,
 1841,
 1845,
 1856,
 1862,
 1864,
 1870,
 1875,
 1878,
 1879,
 1885,
 1896,
 1900,
 1907,
 1910,
 1919,
 1922,
 1924,
 1927,
 1945,
 1953,
 1954,
 1957,
 1958,
 1964,
 1967,
 1975,
 1980,
 1983,
 1985,
 1998,
 2009,
 2010,
 2016,
 2020,
 2037,
 2039,
 2042,
 0,
 2048,
 2056,
 2057,
 10,
 2059,
 12,
 20,
 2069,
 2070,
 2073,
 2076,
 2077,
 2079,
 33,
 36,
 44,
 52,
 2100,
 55,
 2103,
 2106,
 2107,
 60,
 2111,
 64,
 2113,
 2114,
 69,
 74,
 75,
 2124,
 82,
 2135,
 89,
 97,
 2147,
 101,
 102,
 2150,
 105,
 2155,
 2157,
 111,
 2160,
 114,
 118,
 119,
 2167,
 2169,
 2170,
 124,
 2180,
 134,
 138,
 139,
 141,
 2191,
 2193,
 146,
 2194,
 148,
 2198,
 151,
 155,
 156,
 2204,
 2207,
 160,
 166,
 2217,
 2218,
 174,
 175,
 2223,
 180,
 2228,
 182,
 2229,
 2232,
 186,
 2236,
 189,
 192,
 194,
 197,
 2247,
 2250,
 204,
 2256,
 2259,
 214,
 2262,
 2266,
 219,
 2271,
 2275,
 229,
 235,
 2288,
 246,
 2303,
 259,
 2307,
 2308,
 262,
 264,
 265,
 2313,
 2315,
 2316,
 2319,
 272,
 2320,
 2321,
 275,
 2323,
 280,
 281,
 283,
 2331,
 2336,
 2337,
 2346,
 2348,
 2351,
 2353,
 316,
 2364,
 2366,
 319,
 327,
 2377,
 330,
 2379,
 2382,
 336,
 2393,
 346,
 347,
 2395,
 350,
 351,
 352,
 357,
 2406,
 364,
 365,
 2413,
 2418,
 373,
 2421,
 2422,
 378,
 2430,
 386,
 2437,
 393,
 394,
 2442,
 396,
 2446,
 2461,
 2462,
 419,
 421,
 2471,
 424,
 2472,
 427,
 434,
 435,
 436,
 2489,
 442,
 446,
 2498,
 2500,
 2502,
 2503,
 458,
 2506,
 460,
 2508,
 462,
 2514,
 2515,
 2521,
 475,
 2523,
 2525,
 478,
 2533,
 2534,
 490,
 2540,
 493,
 494,
 495,
 2543,
 2544,
 2545,
 500,
 2548,
 504,
 509,
 2557,
 2561,
 515,
 2564,
 2567,
 526,
 527,
 528,
 530,
 2580,
 2582,
 535,
 2584,
 540,
 2589,
 545,
 2603,
 2605,
 2609,
 562,
 563,
 2611,
 567,
 569,
 2618,
 2619,
 579,
 582,
 2630,
 2633,
 2635,
 589,
 2639,
 2643,
 2644,
 601,
 2651,
 2653,
 2656,
 2658,
 613,
 621,
 623,
 626,
 2678,
 633,
 637,
 639,
 640,
 641,
 651,
 2701,
 2702,
 657,
 661,
 665,
 2715,
 668,
 2716,
 2717,
 679,
 2729,
 682,
 2731,
 687,
 692,
 2742,
 700,
 2748,
 704,
 2752,
 2756,
 2762,
 719,
 2769,
 723,
 2776,
 730,
 733,
 736,
 738,
 742,
 2790,
 2791,
 745,
 2794,
 2795,
 750,
 752,
 754,
 756,
 757,
 2804,
 759,
 760,
 2808,
 762,
 764,
 2812,
 766,
 771,
 772,
 2821,
 775,
 779,
 780,
 2833,
 787,
 2835,
 2837,
 790,
 795,
 2843,
 2849,
 804,
 2854,
 2857,
 811,
 816,
 818,
 821,
 822,
 823,
 827,
 829,
 830,
 2882,
 2889,
 849,
 855,
 2906,
 2909,
 868,
 869,
 871,
 2920,
 2926,
 881,
 2933,
 888,
 2936,
 2937,
 891,
 2939,
 2941,
 894,
 2943,
 2946,
 904,
 908,
 915,
 2963,
 922,
 2973,
 926,
 927,
 2976,
 932,
 934,
 938,
 940,
 942,
 945,
 949,
 952,
 956,
 962,
 963,
 964,
 965,
 966,
 969,
 979,
 985,
 986,
 989,
 993,
 995,
 997,
 998,
 1001,
 1007,
 1010,
 1013,
 1018,
 1027,
 1039,
 1052,
 1054,
 1065,
 1066,
 1069,
 1070,
 1080,
 1081,
 1082,
 1086,
 1093,
 ...]

In [36]:
y = df['CLASS'].reindex(index=all_gen.node_order)
y

2051    0
2052    1
7       1
2055    1
2058    1
       ..
2022    0
2026    1
2027    1
2038    0
2045    1
Name: CLASS, Length: 2982, dtype: int64

In [37]:
node_emb['Class']=y

In [38]:
node_emb

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,Class
0,0.892458,0.0,0.0,0.062522,0.044068,0.340021,0.0,0.132123,0.601586,0.693279,...,0.125758,1.456933,0.0,0.010732,0.445896,0.0,0.0,0.274583,0.0,1
1,1.175218,0.0,0.0,0.190825,0.029893,0.364648,0.0,0.200019,0.692391,0.829105,...,0.201026,1.800807,0.0,0.000000,0.615573,0.0,0.0,0.216963,0.0,1
2,1.185036,0.0,0.0,0.149677,0.000605,0.388964,0.0,0.223286,0.661359,0.860664,...,0.236633,1.844458,0.0,0.000000,0.601454,0.0,0.0,0.216226,0.0,0
3,0.781864,0.0,0.0,0.000000,0.000000,0.371366,0.0,0.188209,0.534919,0.746612,...,0.214941,1.454348,0.0,0.039566,0.374554,0.0,0.0,0.235217,0.0,0
4,0.894115,0.0,0.0,0.100781,0.045623,0.313692,0.0,0.118110,0.606111,0.661935,...,0.072218,1.421055,0.0,0.007169,0.444806,0.0,0.0,0.309689,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2977,1.075108,0.0,0.0,0.269159,0.109561,0.265193,0.0,0.063702,0.706344,0.710535,...,0.142675,1.601235,0.0,0.032162,0.602430,0.0,0.0,0.295912,0.0,1
2978,0.851854,0.0,0.0,0.000000,0.000000,0.362215,0.0,0.169393,0.513054,0.748830,...,0.183976,1.462657,0.0,0.018008,0.375786,0.0,0.0,0.259197,0.0,1
2979,1.126832,0.0,0.0,0.101847,0.000000,0.364256,0.0,0.232359,0.640165,0.856988,...,0.272106,1.817077,0.0,0.000000,0.588062,0.0,0.0,0.218751,0.0,1
2980,1.104989,0.0,0.0,0.072007,0.000000,0.373690,0.0,0.234248,0.616639,0.866215,...,0.249024,1.799792,0.0,0.000000,0.582558,0.0,0.0,0.229689,0.0,0
2981,1.038402,0.0,0.0,0.010663,0.000000,0.387717,0.0,0.233383,0.577342,0.853386,...,0.268971,1.740742,0.0,0.000000,0.518036,0.0,0.0,0.227259,0.0,1

In [39]:
X=node_emb.drop(['Class'],axis=1)
Y=node_emb['Class']

In [40]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import classification_report,accuracy_score
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn import metrics

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC
from xgboost import XGBClassifier
from xgboost import XGBRegressor
from sklearn.metrics import confusion_matrix, recall_score, precision_score,f1_score
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

In [41]:
from sklearn.svm import LinearSVC
models = LinearSVC()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    models.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(models.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.57981220657277
              precision    recall  f1-score   support

           0       0.00      0.00      0.00      1253
           1       0.58      1.00      0.73      1729

    accuracy                           0.58      2982
   macro avg       0.29      0.50      0.37      2982
weighted avg       0.34      0.58      0.43      2982

Confusion matrix:  [[   0 1253]
 [   0 1729]]

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [42]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=10000) 
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    lr.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(lr.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.57981220657277
              precision    recall  f1-score   support

           0       0.00      0.00      0.00      1253
           1       0.58      1.00      0.73      1729

    accuracy                           0.58      2982
   macro avg       0.29      0.50      0.37      2982
weighted avg       0.34      0.58      0.43      2982

Confusion matrix:  [[   0 1253]
 [   0 1729]]

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [43]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
rf = RandomForestClassifier(n_estimators=300)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    rf.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(rf.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.5274983232729712
              precision    recall  f1-score   support

           0       0.42      0.32      0.36      1253
           1       0.58      0.68      0.62      1729

    accuracy                           0.53      2982
   macro avg       0.50      0.50      0.49      2982
weighted avg       0.51      0.53      0.51      2982

Confusion matrix:  [[ 402  851]
 [ 558 1171]]

In [44]:
gbc = GradientBoostingClassifier(n_estimators=300)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    gbc.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(gbc.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.528504359490275
              precision    recall  f1-score   support

           0       0.41      0.28      0.33      1253
           1       0.58      0.71      0.63      1729

    accuracy                           0.53      2982
   macro avg       0.49      0.49      0.48      2982
weighted avg       0.51      0.53      0.51      2982

Confusion matrix:  [[ 354  899]
 [ 507 1222]]

In [45]:
import xgboost as xgb
xgbc = xgb.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, 
              gamma=0,  importance_type='gain',
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, 
             n_estimators=200, n_jobs=16,
              num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, subsample=1,
              tree_method='exact', use_label_encoder=False
              )
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    xgbc.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(xgbc.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.5311871227364185
              precision    recall  f1-score   support

           0       0.42      0.29      0.34      1253
           1       0.58      0.70      0.64      1729

    accuracy                           0.53      2982
   macro avg       0.50      0.50      0.49      2982
weighted avg       0.51      0.53      0.51      2982

Confusion matrix:  [[ 366  887]
 [ 511 1218]]

In [46]:
import lightgbm as lgb
lgb = lgb.LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=400, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    lgb.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(lgb.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.5171026156941649
              precision    recall  f1-score   support

           0       0.41      0.36      0.38      1253
           1       0.58      0.63      0.60      1729

    accuracy                           0.52      2982
   macro avg       0.49      0.50      0.49      2982
weighted avg       0.51      0.52      0.51      2982

Confusion matrix:  [[ 449  804]
 [ 636 1093]]

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=7, stratify=Y)

In [48]:
from sklearn.linear_model import PassiveAggressiveClassifier
pa=PassiveAggressiveClassifier(max_iter=1000, random_state=7, tol=1e-3)
pa.fit(x_train, y_train)
y_pred=pa.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[251   0]
 [346   0]]
              precision    recall  f1-score   support

           0       0.42      1.00      0.59       251
           1       0.00      0.00      0.00       346

    accuracy                           0.42       597
   macro avg       0.21      0.50      0.30       597
weighted avg       0.18      0.42      0.25       597

accuracy_score:  0.4204355108877722

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [49]:
from sklearn.svm import LinearSVC
lsvm = LinearSVC()
lsvm.fit(x_train, y_train)
y_pred=lsvm.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[  0 251]
 [  0 346]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       251
           1       0.58      1.00      0.73       346

    accuracy                           0.58       597
   macro avg       0.29      0.50      0.37       597
weighted avg       0.34      0.58      0.43       597

accuracy_score:  0.5795644891122278

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [50]:
rf = RandomForestClassifier(n_estimators=300)
rf.fit(x_train, y_train)
y_pred=rf.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[ 84 167]
 [119 227]]
              precision    recall  f1-score   support

           0       0.41      0.33      0.37       251
           1       0.58      0.66      0.61       346

    accuracy                           0.52       597
   macro avg       0.49      0.50      0.49       597
weighted avg       0.51      0.52      0.51       597

accuracy_score:  0.5209380234505863

In [51]:
xgbc = xgb.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, 
              gamma=0,  importance_type='gain',
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, 
             n_estimators=200, n_jobs=16,
              num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, subsample=1,
              tree_method='exact', use_label_encoder=False
              )
xgbc.fit(x_train, y_train)
y_pred=xgbc.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[ 84 167]
 [114 232]]
              precision    recall  f1-score   support

           0       0.42      0.33      0.37       251
           1       0.58      0.67      0.62       346

    accuracy                           0.53       597
   macro avg       0.50      0.50      0.50       597
weighted avg       0.52      0.53      0.52       597

accuracy_score:  0.5293132328308208

In [52]:
log = LogisticRegression(max_iter=10000) 
log.fit(x_train, y_train)
y_pred=log.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[  0 251]
 [  0 346]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       251
           1       0.58      1.00      0.73       346

    accuracy                           0.58       597
   macro avg       0.29      0.50      0.37       597
weighted avg       0.34      0.58      0.43       597

accuracy_score:  0.5795644891122278

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))